--- page 1 ---
SECURITIES AND EXCHANGE OF PAKISTAN
SpecializedCompaniesDivision
Policy,Regulationand DevelopmentDepartment
No. SC/NBFC-l-196/Circular/2023/7^ March\o , 2023
CircularNo. S of2023
Subject: Requirementsfor NBFCs relatingto digitallending
The Securitiesand Exchange Commissionof Pakistan (the "Commission")has noted a recent
trend wherebya number of un-authorizedApps/onlineplatformshave been engagedin digitallending
posing themselves as Non-BankingFinance Companies (NBFCs). Furthermore, such un-authorized
Apps/onlineplatformprovidersare also approachingdifferentlicensedNBFCs for collaborationto offer
theirunauthorizedand unapprovedapps/platformsfor digitallendingpurposes.
2. The Commission has serious concerns on the use of licensed NBFCs by such
unauthorized/unlicensedplatforms and apps. The Commission,therefore, in exercise of the powers
conferredunder sub-section(3) of section 282B of the Companies Ordinance,1984 (XLVII of 1984),
herebydirectsall NBFCs to abstainfrom engagingin any kind of app integration,app sub-letting,license
sub-letting, payment services, credit scoring & credit worthiness check, and/or any other type of
integrationservices or collaborationwith any digital lendingApp that is not approvedby the SECP in
termsofCircular15of2022datedDecember27,2022.NBFCsarealso requiredto takenecessarymeasures
to createawarenessamongtheircustomersaboutinherentrisks andillegalityofsuchunauthorizedlending
Apps.
3. This Circularshall come into force immediatelyand any non-complianceshall attractthe penal
provisionsofsection282J ofthe CompaniesOrdinance,1984.
Chairman/Commissioner (SCD)
Distribution:
1. Chief ExecutiveOfficers of All Non-Bank Finance Companies
2. Chief ExecutiveOfficer,Pakistan MicrofinanceNetwork
3. Chairman,NBFI & ModarabasAssociationof Pakistan
4. Chief Executive Officer, MUFAP
